<head>
        <title>Agendamento de Quadras CEAF</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag "style" %>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/icone.png" />
</head>

<body>
	<%= form_for(:login, url: login_path) do |f| %>
		<div class="tudo">	
			<div class="itemlogin">
				<%= image_tag("icone.png") %>
			</div>
			<div class="itemlogin" id="entrar"><br/>
				<label id="nome_usuario">Usuário:</label>
				<%= f.text_field :nome %><br/><br/>
				<label type="text" id="senha">Senha:</label>
				<%= f.password_field :senha %> 
				<br/><br/>
				<%= submit_tag("Log In") %><br/><br/>
			</div>
			<div class="itemlogin"><h4>Bem vindo ao Sistema de Agendamento de Quadras do CEAF!</h4></div>
		</div> 
		<%= link_to "Novo Usuário", new_cadastro_usuario_path(@usuario) %><br/>   
	<% end %>
</body>
