<h3>Bem-Vindo à Sua Página</h3>

<table>
  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.situacaoMatricula %></td>
        <td><%= usuario.fotoUsuario %></td>
        <td><%= usuario.emailUsuario %></td>
        <td><%= usuario.telefone %></td>
        <td><%= link_to 'Editar perfil', edit_usuario_path(usuario) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>