<head>
      <title>Página Inicial</title>
      <link rel='stylesheet' href='style/style2.css'>
      <link rel="shortcut icon" type="image/x-icon" href="images/icone.png" />
</head>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Último Agendamento:</strong>
  <%= @usuario.ultimoAgendamento %>
</p>

<p>
  <strong>Situação de Matrícula:</strong>
  <%= @usuario.situacaoMatricula %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @usuario.fotoUsuario %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.emailUsuario %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @usuario.telefone %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
