  <table>
  <thead>
  <tr>
    <td>Nome</td>
    <td>Registro Usuário</td>
    <td>Email</td>
    <td>Senha</td>
    <td>Confirme a sua senha</td>
    <td>Telefone</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </thead>

  <tbody>
  <% @cadastro_usuarios.each do |cadastro_usuario| %>
    <tr>
      <td><%= cadastro_usuario.nome %></td>
      <td><%= cadastro_usuario.emailUsuario %></td>
      <td><%= cadastro_usuario.senha %></td>
      <td><%= cadastro_usuario.password_digest %></td>
      <td><%= cadastro_usuario.telefone %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to 'Cadastrar!', new_cadastro_usuario_path %>
