<h1>Listing cadastro_usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Registro Usuário</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Confirme a sua senha</th>
      <th>Telefone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastro_usuarios.each do |cadastro_usuario| %>
      <tr>
        <td><%= cadastro_usuario.nome %></td>
        <td><%= cadastro_usuario.emailUsuario %></td>
        <td><%= cadastro_usuario.senha %></td>
        <td><%= cadastro_usuario.password_digest %></td>
        <td><%= cadastro_usuario.telefone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar', new_cadastro_usuario_path %>
