<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro_usuario.nome %>
</p>

<p>
  <strong>Email usuário:</strong>
  <%= @cadastro_usuario.emailUsuario %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @cadastro_usuario.senha %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cadastro_usuario.telefone %>
</p>

<%= link_to 'Edit', edit_cadastro_usuario_path(@cadastro_usuario) %> |
<%= link_to 'Back', cadastro_usuarios_path %>
