<%= form_for(@cadastro_usuario) do |f| %>
  <% if @cadastro_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cadastro_usuario.errors.count, "error") %> prohibited this cadastro_usuario from being saved:</h2>

      <ul>
      <% @cadastro_usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :emailUsuario %><br>
    <%= f.text_field :emailUsuario %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.number_field :telefone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
