<h1>Listing cadastro_usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Registro Usuário</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Telefone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastro_usuarios.each do |cadastro_usuario| %>
      <tr>
        <td><%= cadastro_usuario.nome %></td>
        <td><%= cadastro_usuario.emailUsuario %></td>
        <td><%= cadastro_usuario.senha %></td>
        <td><%= cadastro_usuario.telefone %></td>
        <td><%= link_to 'Show', cadastro_usuario %></td>
        <td><%= link_to 'Edit', edit_cadastro_usuario_path(cadastro_usuario) %></td>
        <td><%= link_to 'Destroy', cadastro_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cadastro usuario', new_cadastro_usuario_path %>
