<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro_usuario.nome %>
</p>

<p>
  <strong>Registrousuario:</strong>
  <%= @cadastro_usuario.registroUsuario %>
</p>

<p>
  <strong>Emailusuario:</strong>
  <%= @cadastro_usuario.emailUsuario %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @cadastro_usuario.senha %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cadastro_usuario.telefone %>
</p>

<p>
  <strong>Datacadastro:</strong>
  <%= @cadastro_usuario.dataCadastro %>
</p>

<p>
  <strong>Usuario registrousuario:</strong>
  <%= @cadastro_usuario.usuario_registroUsuario %>
</p>

<%= link_to 'Edit', edit_cadastro_usuario_path(@cadastro_usuario) %> |
<%= link_to 'Back', cadastro_usuarios_path %>
